#heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    position: static;
    display: inline-block;
    letter-spacing: 5px;
    text-shadow: 0px 0px 3px rgb(255, 47, 47), 0 0 3px blue;
    text-align: center;
    font-family: Sofia, Helvetica, sans-serif;
    font-size: 80px;
    color: black;
    /*padding: 20em;*/
}
body {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}
.burger {
    background-color: blueviolet;
    display: block;
    margin: 0;
    border: 0;
    padding: 24px 34px;
    max-width: 100%;
    position: sticky;

}
#burger:hover {
    color: red;
    font-size: large;
}
.nav-first {
    align-items: center;
    display: block;
    position: fixed;
    height: 100%;
    font-family: Sofia, sans-serif;
    width: 25%;
    padding: 0;
    margin: 0;
    background-color: black;
    transition: 1s;
    overflow: auto;
    left: 0;
}
.items{
    padding: 0;
    margin: 0;
    border: 0;
}
.nav-second {
    margin: 0;
    padding: 0;
    align-items: center;
    display: block;
    position: fixed;
    height: 100%;
    font-family: Sofia, sans-serif;
    padding: 20px 24px;
    background-color: black;
    width: 25%;
    overflow: auto;
    left: -100%;
    transition: 1s;
}

.Nav-links {
    display: block;
    color: white;
    text-decoration: none;
    padding: 50px 5px;
    text-align: center;
}
a .Nav-links.active{
    background-color: pink;
    color: aqua;
}
.Nav-links:hover {
    cursor: default;
    background-color: red;
    transition: 0.5s;
}
.nav ul {
    list-style: none;
    text-align: center;
    align-items: center;
    padding: none;
    margin: none;
}
.nav{
    margin: 0;
    border: 0;
    padding: 0;
}
